@using Nop.Services.Localization
@using Nop.Core
@inject ILocalizationService localizationService
@inject IStoreContext storeContext

@{
    Layout = "_FullWidth";

    var homepageTitle = await localizationService.GetLocalizedAsync(await storeContext.GetCurrentStoreAsync(), s => s.HomepageTitle);

    //title
    if (!string.IsNullOrEmpty(homepageTitle))
    {
        NopHtml.AddTitleParts(homepageTitle);
    }

    var homepageDescription = await localizationService.GetLocalizedAsync(await storeContext.GetCurrentStoreAsync(), s => s.HomepageDescription);

    //meta
    if (!string.IsNullOrEmpty(homepageDescription))
    {
        NopHtml.AddMetaDescriptionParts(homepageDescription);
    }

    //page class
    NopHtml.AppendPageCssClassParts("html-home-page");
}
<div class="homemain-slider">
    <div class="owl-carousel">
        <div class="slide">
            <div class="sldrimg"><img src="https://crossroadpublishing.com/wp-content/uploads/2021/01/bookbanner-1.jpg" alt="Please email"></div>
            <div class="sldrcaption">
                <div class="container">
                    <div class="slidercontpos">
                        <div class="slidercont">
                            <h5>Please email</h5>
                            <div class="slibigatext">
                                <a href="mailto:office@crossroadpublishing.com" tabindex="-1">office@crossroadpublishing.com</a> <br>if you encounter any difficulties
                            </div>
                            <div class="slibtn">
                                <a href="https://pixabay.com/vectors/open-book-literature-education-29822/?download" tabindex="-1">Use coupon code “25%” and you will <br>receive 25% discount on order over $50 <br>for all books (exclude journals)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="sldrimg"><img src="https://crossroadpublishing.com/wp-content/uploads/2021/01/banner-3-min.jpg" alt="Books"></div>
            <div class="sldrcaption">
                <div class="container">
                    <div class="slidercontpos">
                        <div class="slidercont">
                            <h5>BOOKS</h5>
                            <div class="slibigatext">
                                A good book is an event.
                            </div>
                            <div class="slibtn">
                                <a href="http://clientwebsitedemos.com/crossroadpublishing/shop/?orderby=bestsell" tabindex="-1">Use coupon code “25%” and you will <br>receive 25% discount on order over $50 <br>for all books (exclude journals)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="delsec">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="delboxsec">
                    <div class="delboxicon"> <img src="https://crossroadpublishing.com/wp-content/uploads/2021/01/crossroad-logo.png" alt=""> </div>
                    <div class="delcont">
                        <h4><a href="https://crossroadpublishing.com/product-category/imprint/crossroad/">Crossroad</a></h4>
                        <p>Books about Faith, Science and Contemplative Traditions </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="delboxsec">
                    <div class="delboxicon"> <img src="https://crossroadpublishing.com/wp-content/uploads/2021/01/herder-logo.png" alt=""> </div>
                    <div class="delcont">
                        <h4><a href="https://crossroadpublishing.com/product-category/imprint/herder-herder/">Herder &amp; Herder</a></h4>
                        <p>Books on Theology, Religious Thought and Mysticism </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="delboxsec">
                    <div class="delboxicon"> <img src="https://crossroadpublishing.com/wp-content/uploads/2021/01/blue-logo.png" alt=""> </div>
                    <div class="delcont">
                        <h4><a href="">Blessed Blue</a></h4>
                        <p>Little Gifts and Treasures </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="delboxsec">
                    <div class="delboxicon"> <img src="https://crossroadpublishing.com/wp-content/uploads/2021/01/LogoConvivium-e1657188172267.jpg" alt=""> </div>
                    <div class="delcont">
                        <h4><a href="https://crossroadpublishing.com/product-category/distributedprogram/convivium/">Convivium</a></h4>
                        <p>Distributed Program </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageTop })
@* @await Component.InvokeAsync(typeof(TopicBlockViewComponent), new { systemName = "HomepageText" }) *@
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })
@* @await Component.InvokeAsync(typeof(HomepageCategoriesViewComponent)) *@
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })
@await Component.InvokeAsync(typeof(HomepageProductsViewComponent))
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
@* black *@
<div class="offerings secPTB">
    <div class="container">
        <div class="owl-carousel">
            <div class="item">
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3">
                        <div class="offimgbg">
                            <a href="https://crossroadpublishing.com/product/all-saints/" tabindex="0">
                                <img src="https://crossroadpublishing.com/wp-content/uploads/2021/02/9780824516796-195x300.jpg" alt="All Saints">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9">
                        <div class="offering-info">
                            <h2>Offerings</h2>
                            <div class="offtitle">
                                <h3><a>Surprised By Grace</a></h3>
                                <span>Author: <a>Kevin Patrick Joyce</a></span>
                            </div>
                            <div class="pricerating">
                                <div class="price">$$14.97</div>
                                <div class="review">
                                    @{
                                        var ratingPercent = 0;
                                        ratingPercent = 5 / 5;
                                        <div class="product-rating-box">
                                            <div class="rating">
                                                <div style="width: @(ratingPercent)%">
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="total-review">0 Review</div>
                                </div>
                            </div>
                            <a class="btn-1">View Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3">
                        <div class="offimgbg">
                            <a href="https://crossroadpublishing.com/product/all-saints/" tabindex="0">
                                <img src="https://crossroadpublishing.com/wp-content/uploads/2021/02/9780824516796-195x300.jpg" alt="All Saints">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9">
                        <div class="offering-info">
                            <h2>Offerings</h2>
                            <div class="offtitle">
                                <h3><a>Surprised By Grace</a></h3>
                                <span>Author: <a>Kevin Patrick Joyce</a></span>
                            </div>
                            <div class="pricerating">
                                <div class="price">$$14.97</div>
                                <div class="review">
                                    @{
                                        var ratingPercent1 = 0;
                                        ratingPercent1 = 5 / 5;
                                        <div class="product-rating-box">
                                            <div class="rating">
                                                <div style="width: @(ratingPercent1)%">
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="total-review">0 Review</div>
                                </div>
                            </div>
                            <a class="btn-1">View Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync(typeof(HomepageBestSellersViewComponent))
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeNews })
@await Component.InvokeAsync(typeof(HomepageNewsViewComponent))
<div class="blogsec secPTB">
    <div class="container">
        <div class="title">
            <h2>News and Other Communications</h2>
            <div class="view-all"><a href="#">View All -</a></div>
        </div>
        <div class="owl-carousel">
            <div class="blogbox">
                <div class="blogimg">
                    <a href="https://crossroadpublishing.com/endorsements-george/">
                        <img src="https://crossroadpublishing.com/wp-content/uploads/2022/06/cover-plain.png" alt="">
                    </a>
                </div>
                <div class="blogcontent">
                    <div class="blogtitledate">
                        <h3><a href="https://crossroadpublishing.com/endorsements-george/">Endorsements George</a></h3>
                        <p>June 5, 2022</p>
                    </div>
                    <div class="blogtext">“A great little book that confronts the dark dragons that oppress us in these times of passion, with joyful, ironic</div>
                    <div class="readmorelink"><a href="https://crossroadpublishing.com/endorsements-george/" class="btn-1">Read More</a></div>
                </div>
            </div>
            <div class="blogbox">
                <div class="blogimg">
                    <a href="https://crossroadpublishing.com/endorsements-george/">
                        <img src="https://crossroadpublishing.com/wp-content/uploads/2022/06/cover-plain.png" alt="">
                    </a>
                </div>
                <div class="blogcontent">
                    <div class="blogtitledate">
                        <h3><a href="https://crossroadpublishing.com/endorsements-george/">Endorsements George</a></h3>
                        <p>June 5, 2022</p>
                    </div>
                    <div class="blogtext">“A great little book that confronts the dark dragons that oppress us in these times of passion, with joyful, ironic “A great little book that confronts the dark dragons that oppress us in these times of passion, with joyful, ironic</div>
                    <div class="readmorelink"><a href="https://crossroadpublishing.com/endorsements-george/" class="btn-1">Read More</a></div>
                </div>
            </div>
            <div class="blogbox">
                <div class="blogimg">
                    <a href="https://crossroadpublishing.com/endorsements-george/">
                        <img src="https://crossroadpublishing.com/wp-content/uploads/2022/06/cover-plain.png" alt="">
                    </a>
                </div>
                <div class="blogcontent">
                    <div class="blogtitledate">
                        <h3><a href="https://crossroadpublishing.com/endorsements-george/">Endorsements George</a></h3>
                        <p>June 5, 2022</p>
                    </div>
                    <div class="blogtext">“A great little book that confronts the dark dragons that oppress us in these times of passion, with joyful, ironic “A great little book that confronts the dark dragons that oppress us in these times of passion, with joyful, ironic “A great little book that confronts the dark dragons that oppress us in these times of passion, with joyful, ironic</div>
                    <div class="readmorelink"><a href="https://crossroadpublishing.com/endorsements-george/" class="btn-1">Read More</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="book-and-authors secPTB">
    <div class="container">
        <div class="title-center">
            <h2>On Books and Authors</h2>
        </div>
        <div class="owl-carousel">
            <div class="content">
                <div><p>“With this little book I want to introduce you to the ways of fasting or, if you have fasted at some earlier time, to remind you of its benefits. My main goal, therefore, is to strengthen your confidence i your ability to fast and to encourage you to try fasting when the time is ripe.”</p></div>
                <div class="d-flex justify-content-center">
                    <div>
                        <img />
                    </div>
                    <div class="text-start">
                        <h3>Astrophysics and Creation by Arnold Benz</h3>
                        <h4>Perceiving the Universe through Science and Participation</h4>
                    </div>
                </div>
            </div>
            <div class="content">
                <div><p>“With this little book I want to introduce you to the ways of fasting or, if you have fasted at some earlier time, to remind you of its benefits. My main goal, therefore, is to strengthen your confidence i your ability to fast and to encourage you to try fasting when the time is ripe.”</p></div>
                <div>
                    <h3>Astrophysics and Creation by Arnold Benz</h3>
                    <h4>Perceiving the Universe through Science and Participation</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="newlibrarysec">
    <div class="container">
        <div class="libplay d-flex justify-content-center align-items-center">
            <a class="popup-youtube" href="https://www.youtube.com/watch?v=dYF28JAllPI">
                <div class="playicon"><img src="../Themes/DefaultClean/Content/images/play-icon.png" alt=""></div>
                <h3>Explore</h3>
            </a>
        </div>
    </div>
    <script asp-location="Footer">
        $(document).ready(function () {
            $('.popup-youtube').magnificPopup({
                disableOn: 700,
                type: 'iframe',
                mainClass: 'mfp-fade',
                removalDelay: 160,
                preloader: false,
                fixedContentPos: false
            });
        });
    </script>
</div>
<div class="bookstores secPTB">
    <div class="container">
        <div class="title-center">
            <h2>You can find our books at bookstores or via the links below.</h2>
        </div>
        <div class="owl-carousel">
            <div class="clientbox">
                <a href="https://www.barnesandnoble.com/" target="_blank" tabindex="0">
                    <img src="https://crossroadpublishing.com/wp-content/uploads/2021/01/barnes_noble.png" alt="">
                </a>
            </div>
            <div class="clientbox">
                <a href="https://www.amazon.com/s?k=the+crossroad+publishing+company&amp;crid=1VSD8DWLBLK77&amp;sprefix=the+%2Caps%2C1791&amp;ref=nb_sb_noss_2" target="_blank" tabindex="0">
                    <img src="https://crossroadpublishing.com/wp-content/uploads/2021/01/amazon.png" alt="">
                </a>
            </div>
            <div class="clientbox">
                <a href="https://www.christianbook.com/apps/easyfind?Ns=product.number_sold&amp;N=1014644+4294943070&amp;Ne=12000&amp;event=EBRN&amp;Nso=1&amp;Nu=product.endeca_rollup&amp;category=Books?p=1181849" target="_blank" tabindex="0">
                    <img src="https://crossroadpublishing.com/wp-content/uploads/2021/01/Christianbook_logo.png" alt="">
                </a>
            </div>
            <div class="clientbox">
                <a href="" target="_blank" tabindex="0">
                    <img src="https://crossroadpublishing.com/wp-content/uploads/2020/07/ourclient-logo-2.png" alt="">
                </a>
            </div>
        </div>
    </div>

</div>
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforePoll })
@await Component.InvokeAsync(typeof(HomepagePollsViewComponent))
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBottom })

